    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">About</h2>
                <p>I am an archivist and technologist, and I work as the Director of Technology for the <a href="http://dp.la/">Digital Public Library of America</a>, a non-profit organization dedicated to free and open access to the riches of libraries, archives, and museums.</p>
                <p>My current work and professional interests focus on interoperability for digital libraries and archival information systems at a global scale. I am the project manager for <a href="http://hydrainabox.projecthydra.org/">Hydra in a Box</a> and co-chair the technical working group of the <a href="http://rightsstatements.org/">International Rights Statements Working Group</a>.
                <p>Previously, I worked on projects at the intersection of archives, metadata, and technology, such as <a href="http://archivesspace.org/">ArchivesSpace</a> and <a href="http://dcs.library.virginia.edu/aims/">AIMS</a>.</p>
                <p>In my spare time, I bake bread, track down rare and unusual beers, and listen to tales of the town of <a href="http://thebestshow.net/">Newbridge, New Jersey</a>.
            </div>
        </div>
    </section>