    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="intro-text">Archivist, technologist, breadmaker</p>
                        <div class="banner-social-buttons">
                            <ul class="list-inline">
                                {% for network in site.social %}
                                    {% assign mod = forloop.index | modulo: 5 %}
                                <li class="btn btn-circle">
                                    <a href="{{ network.url }}" rel="me" title="{{ network.title }}"><i class="fa fa-{{ network.icon }}"></i></a>
                                </li>
                                    {% if forloop.last %}
                            </ul>
                        </div>
                                    {% elsif mod == 0 %}
                            </ul>
                        </div>
                        <div class="banner-social-buttons clearfix">
                            <ul class="list-inline">
                                    {% endif %}
                                {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </header>